@font-face {
  font-family: UDKakugo_R;
  font-weight: 300;
  src: url('/fonts/FOT-UDKakugo_LargePro-R.otf');
}

@font-face {
  font-family: UDKakugo_R;
  font-weight: 400;
  src: url('/fonts/FOT-UDKakugo_LargePro-M.otf');
}

@font-face {
  font-family: UDKakugo_R;
  font-weight: 500;
  src: url('/fonts/FOT-UDKakugo_LargePr6-DB.otf');
}

@font-face {
  font-family: UDKakugo_R;
  font-weight: 600;
  src: url('/fonts/FOT-UDKakugo_LargePr6-B.otf');
}
